.navvnavv{
.custom-navbar {
    background-color: #1f253d; /* Set your desired color */
    color: white;
  }
  .img {
    padding: 3px;
    object-fit: contain;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
  }
.nav-link{
  color: white;
}


}